{% extends 'index.html'%} 
{% block content %}
<div>
	{% for game in game_list %}
	<ul>
		<li>Game Title:  {{game.name}}</li>
		<li><img src="{{game.image.url}}" alt="game image" class="img-thumbnail"></li>  
		<li>Description:  {{game.description}}</li>
		<a href="{% url 'website:game_detail' pk=game.pk %}">View</a>
		<a href="{% url 'website:game_update' pk=game.pk %}">Update</a>
		<a href="{% url 'website:game_delete' pk=game.pk %}">Delete</a>
	</ul>
	{% endfor %}
	<a href="{% url 'website:game_form' %}">Add Game</a>
</div>
{% endblock %}
