{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>So Board</title>
  </head>
  <body>
      {% block navbar %}
      {% include 'navbar.html'%}
      {% endblock navbar %}

      <h1>Would you like to play a game?</h1>
      {% if not user.is_authenticated %}
      <p>Register or Login to show the games you like to play and find the friends you'd like to join in the fun!!</p>
      
      <!-- Auth/Welcome messages -->


    {% block register %}
    {% include 'register.html'%}
    {% endblock register %}

    {% endif %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  <!-- All other templates sent here -->
    {% block content %}

    {% endblock content %}

  </body>
</html>