{% extends 'index.html'%}
{% block content %}
<div>

	<body>
		<!-- Page Content -->
		<div class="container">

			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">Hello, {{user.username}}.</h1>

			<!-- Intro Content -->
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="https://openclipart.org/download/247316/abstract-user-flat-2.svg" alt="User Avatar">
				</div>
				<div class="col-lg-6">
					<h2>Character Sheet: {{user.first_name}} {{user.last_name}} </h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique?
						Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non
						blanditiis ex fugiat.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut
						sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa
						voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus
						perspiciatis quis?</p>
						<p>Email address: {{user.email}}</p>
				</div>
			</div>
			<!-- /.row -->

			<!-- Team Members -->
			<h2>Players you've favorited</h2>
			<div class="row">
				{% for user_player in user_players %}
				<div class="col-lg-2 col-sm-4 mb-4">
					<div class="card h-100 text-center">
						<img class="card-img-top" src="https://raw.githubusercontent.com/Megraohoh/so_board/master/9036e5d28b.png" alt="user icon">
						<div class="card-body">
							<h4 class="card-subtitle mb-2 text-muted">{{ user_player.first_name }}</h4>
						</div>
						<div class="card-footer">{{ user_player.email}}</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- /.row -->
			<h2>Games you've favorited</h2>
			<div class="row">
				{% for user_game in user_games %}
				<div class="col-lg-2 col-sm-4 mb-4">
					<div class="card h-100 text-center">
						<img class="card-img-top" src="{{ user_game.image.url}}" alt="">
						<div class="card-body">
							<h4 class="card-subtitle mb-2 text-muted">{{ user_game.name }}</h4>
							<p class="card-text">{{ user_game.description}}</p>
						</div>
						<div class="card-footer"></div>
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- /.row -->

		</div>
		<!-- /.container -->

	</body>

</div>
{% endblock %}